.aka-bg-hidden {
    background: none !important;
}

.aka-bg-orange {
    background: #ff7b02 !important;
}

.aka-btn-neon {
    background: #29F3AF !important;
    box-shadow: 3px 3px 0 #29F3AF !important;
}