.aka-bg-hidden {
    background: none !important;
}

.pt-2 {
  padding-top: 0px !important;
}

.aka-bg-orange {
    background: #A42A2A !important;
}

.aka-btn-neon {
    background: #29F3AF !important;
    -webkit-box-shadow: 3px 3px 0 #29F3AF !important;
       -moz-box-shadow: 3px 3px 0 #29F3AF !important;
            box-shadow: 3px 3px 0 #29F3AF !important;
}

.ticker-text {
  font-size: 38px !important;
}

@media screen and (min-width: 1400px) {
  .aka-bg-orange {
    margin-top: 30px !important;
  }
}

@media screen and (min-width: 1200px) {
  .hero_bg-blue {
    height: 600px !important;
  }
}

@media screen and (max-width: 1400px) {
}

@media screen and (min-width: 1400px) {
  .services_shape {
    top: 188px !important;
    -webkit-transform: translateX(5%);
       -moz-transform: translateX(5%);
        -ms-transform: translateX(5%);
         -o-transform: translateX(5%);
            transform: translateX(5%);
  }
}

.join_media {
    display: none;
  }

  @media screen and (min-width: 1199.98px) {
    /* line 107, ../../../Documents/work space/bizsite/scss/blocks/_join.scss */
    .join {
      position: relative;
      overflow: hidden;
    }
    /* line 111, ../../../Documents/work space/bizsite/scss/blocks/_join.scss */
    .join_media {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  @media screen and (min-width: 1199.98px) {
    /* line 15, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media img {
      position: absolute;
    }
    /* line 19, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media-left {
      width: 500px;
      left: -25%;
      top: 80px;
    }
    /* line 25, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media .group {
      width: 476px;
      height: 494px;
      position: absolute;
      right: -29%;
      top: 139px;
    }
    /* line 32, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media .group .shape {
      width: 476px;
      height: 494px;
    }
    /* line 37, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media .group .speaker {
      width: 350px;
      height: 366px;
      top: 0;
      left: -114px;
    }
  }

  @media screen and (min-width: 1399.98px) {
    /* line 51, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media-left {
      width: 550px;
      left: -15%;
      top: 44px;
    }
    /* line 57, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media .group {
      right: -18%;
      top: 33px;
    }
  }



  @media screen and (min-width: 1199.98px) {
    .hero_media {
      -webkit-transform: translateX(-20%);
         -moz-transform: translateX(-20%);
          -ms-transform: translateX(-20%);
           -o-transform: translateX(-20%);
              transform: translateX(-20%);
    }
    .hero_main {
      -webkit-transform: translateY(-40%);
         -moz-transform: translateY(-40%);
          -ms-transform: translateY(-40%);
           -o-transform: translateY(-40%);
              transform: translateY(-40%);
    }
  }

  @media screen and (min-width: 1199.98px) {
    .hero {
      height: 625px !important;
    }
  }
  
  @media screen and (min-width: 1599.98px) {
    /* line 68, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media-left {
      width: auto;
      height: 540px;
      left: -3%;
      top: 23px;
    }
    /* line 75, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media .group {
      right: -11%;
      top: 54px;
    }
  }

  @media screen and (min-width: 1999.98px) {
    /* line 86, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media .group {
      right: -1%;
    }
  }


.aka-service-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 3px;
}


@media screen and (max-width: 615px) {
  .aka-service-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aka-service-list > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
     -moz-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0; /* flex-basis: 0; flex-grow: 1; flex-shrink: 0; */
}

.aka-service-item {
  cursor: pointer;
  border: solid 1px black ;
  background-color: #F8F8FF;
  padding: 30px;
}

.aka-text-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aka-text-center span {
  max-width: 700px;
}

.aka-center {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aka-service-item .spy-2 {
  margin: 8px 0;
}

.aka-service-item:hover {
  -webkit-box-shadow: 2px 2px 0 #000000;
  -moz-box-shadow: 2px 2px 0 #000000;
       box-shadow: 2px 2px 0 #000000;
}

.aka-service-item i {
  color: #a52a2a;
  font-size: 32px;
}


.aka-underline-contain {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 725px) {
  .ml-2 {
    margin-left: 2rem !important;
  }
}

@media screen and (min-width: 725px) {
  .aka-btn-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.aka-underline-txt::after{
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
  bottom: 0;
  height: 22px;
  background-color: #29F3AF;
}

.services_shape {
  z-index: -1;
}

.app_shapes {
  z-index: -1;
}

.aka-underline-link {
  text-decoration: underline;
  color: #29F3AF;
}

.aka_slogan-heading {
  color: #000; 
  font-size: 38px;
}

.aka_slogan-text {
  font-size: 18px; 
  color: #ffffff; 
  margin: 20px 0;
  max-width: 420px;
}

@media screen and (max-width: 570px) {
  .aka_slogan-heading {
    max-width: 100%; 
  }
  .aka_slogan-text {
    max-width: 100%; 
  }
}


.main_text {
  margin-bottom: 40px !important;
}

@media screen and (min-width: 1199.98px) {
  .services {
    padding: 0px 0 20px !important;
  }

  .features_main {
    width: -webkit-calc(100% - 60px - 475px) !important;
    width: -moz-calc(100% - 60px - 475px) !important;
    width: calc(100% - 60px - 475px) !important;
  }

  .app_main {
    width: -webkit-calc(100% - 60px - 475px) !important;
    width: -moz-calc(100% - 60px - 475px) !important;
    width: calc(100% - 60px - 475px) !important;
  }
  .app_media {
    width: -webkit-calc(100% - 60px - 475px) !important;
    width: -moz-calc(100% - 60px - 475px) !important;
    width: calc(100% - 60px - 475px) !important;
  }

  .about {
    margin-top: 120px !important;
  }
}
