.aka-bg-hidden {
    background: none !important;
}

.pt-2 {
  padding-top: 0px !important;
}

.aka-bg-orange {
    background: #ff7b02 !important;
}

.aka-btn-neon {
    background: #29F3AF !important;
    box-shadow: 3px 3px 0 #29F3AF !important;
}


.join_media {
    display: none;
  }

  @media screen and (min-width: 1199.98px) {
    /* line 107, ../../../Documents/work space/bizsite/scss/blocks/_join.scss */
    .join {
      position: relative;
      overflow: hidden;
    }
    /* line 111, ../../../Documents/work space/bizsite/scss/blocks/_join.scss */
    .join_media {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  @media screen and (min-width: 1199.98px) {
    /* line 15, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media img {
      position: absolute;
    }
    /* line 19, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media-left {
      width: 500px;
      left: -25%;
      top: 80px;
    }
    /* line 25, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media .group {
      width: 476px;
      height: 494px;
      position: absolute;
      right: -29%;
      top: 139px;
    }
    /* line 32, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media .group .shape {
      width: 476px;
      height: 494px;
    }
    /* line 37, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media .group .speaker {
      width: 350px;
      height: 366px;
      top: 0;
      left: -114px;
    }
  }

  @media screen and (min-width: 1399.98px) {
    /* line 51, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media-left {
      width: 550px;
      left: -15%;
      top: 44px;
    }
    /* line 57, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media .group {
      right: -18%;
      top: 33px;
    }
  }

  @media screen and (min-width: 1599.98px) {
    /* line 68, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media-left {
      width: auto;
      height: 540px;
      left: -3%;
      top: 23px;
    }
    /* line 75, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media .group {
      right: -11%;
      top: 54px;
    }
  }

  @media screen and (min-width: 1999.98px) {
    /* line 86, ../../../Documents/work space/bizsite/scss/pages/service/_join.scss */
    .join_media .group {
      right: -1%;
    }
  }


.aka-service-list {
  display: flex;
  align-items: stretch;
  gap: 3px;
}


@media screen and (max-width: 615px) {
  .aka-service-list {
    display: flex;
    flex-direction: column;
  }
}

.aka-service-list > * {
  flex: 1 0 0; /* flex-basis: 0; flex-grow: 1; flex-shrink: 0; */
}

.aka-service-item {
  cursor: pointer;
  border: solid 1px black ;
  background-color: #F8F8FF;
  padding: 30px;
}

.aka-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aka-text-center span {
  max-width: 700px;
}

.aka-center {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.aka-service-item .spy-2 {
  margin: 8px 0;
}

.aka-service-item:hover {
  -webkit-box-shadow: 3px 3px 0 #29f3af;
  box-shadow: 3px 3px 0 #29f3af;
}

.aka-service-item i {
  color: #a52a2a;
  font-size: 32px;
}


.aka-underline-contain {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 725px) {
  .ml-2 {
    margin-left: 2rem !important;
  }
}

@media screen and (min-width: 725px) {
  .aka-btn-group {
    display: flex;
  }
}

.aka-underline-txt::after{
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
  bottom: 0;
  height: 22px;
  background-color: #29F3AF;
}

.services_shape {
  z-index: -1;
}

.app_shapes {
  z-index: -1;
}

.aka-underline-link {
  text-decoration: underline;
  color: #29F3AF;
}

@media screen and (min-width: 1199.98px) {
  .services {
    padding: 140px 0 20px !important;
  }

  .features_main {
    width: calc(100% - 60px - 475px) !important;
  }

  .app_main {
    width: calc(100% - 60px - 475px) !important;
  }
  .app_media {
    width: calc(100% - 60px - 475px) !important;
  }

  .about {
    margin-top: 120px !important;
  }
}
